@media only screen and (max-width: 1200px) {
    .hero-text-box
    {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }


    
}

@media only screen and (max-width: 1023px) {
    
    header {
        background-image: url("img/hero.jpg");
        height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }
    
    body { font-size: 18px;}

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .step-box {
        margin-top: 10px;
    }

    .step-box:last-child {
        margin-top: 10px;
    }

    .work-step {
        margin-bottom: 40px;
    }

    .work-step:last-child {
        margin-bottom: 60px;
    }

    .app-screen { width: 50%;}

    .city-feature { font-size: 90%;}

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .contact-form {
        width: 80%;
    }

  
    .main-nav {
        float: left;
        margin-top: 20px;
        display: none;
        font-size: 120%;
    }

    .mobile-nav-icon {
        display: block;
    }


    
}

@media only screen and (max-width: 767px) {
    
    header {
        background-image: url("img/hero.jpg");
        height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

    
    
    body { font-size: 14px;}
    section {padding: 30px 0;}

    .logo-black {height: 100px;}
    .app-screen { width: 40%;}

    .row,
    .hero-text-box {padding: 0 4%;}
    
    .col {
         width: 100%;
         margin: 0 0 4% 0;
    }

    
    .main-nav {
        float: left;
        margin-top: 10px;
        font-size: 150%;
        margin-left: 45px;
        display: none;
    }
    
    .main-nav li {
        display: block;
        border: 0;
        margin-top: 5px;
        
    }

    .main-nav li a:hover,
    .main-nav li a:active {
    border-bottom: 0px;
}
    
    .mobile-nav-icon {
        display: inline;
    }

    h1 {font-size: 180%;}
    h2 {font-size: 150%;}

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }


    .work-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .work-step p {
        margin-top: 5px;
    }



    .work-step:last-child {
        margin-bottom: 10px;
    }

    
    .step-box:first-child {
        text-align: center;
    }

}

@media only screen and (max-width: 480px) {
    section {
        padding: 10px 0;
    }
    .contact-form {width: 100%;}

    
    .main-nav {
        float: left;
        margin-top: 10px;
        font-size: 100%;
        margin-left: 10px;
        display: none;
    }

    header {
        background-image: url("img/hero.jpg");
        height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
        
    }


    
}

